   body {
       margin: 0%;
       padding: 0%;
   }
   .text {
	position: absolute;
}
.lpp{
    margin-top:5%;
    color:black;
    background-color:white;

}
.sp{
    margin-left: 5%;
    }
html{
    height: 100%;
}
  
.row{
    margin-right: 0%;
    margin-left: 0%;
}
#profi{
    border-radius: 50%;
}
   #particles-js {
       width: 100%;
       height: 100%;
       background-color:DarkCyan;
       position: absolute;
   }
   .gap{
       margin-top:15% ;
   }

   .ABout {
       
       padding: 1%;
       margin: 5%;
       background-color:DarkCyan;
       opacity: 0.7;
       color:White;
       box-shadow: 2px 10px 10px black;
       font-size: 20px;
       
   }

   #big-heading {
       padding-top: 4%;
       align-items: center;
       padding-left: 15%;
       color: white;
       
   
   }
   #big-heading h1{
    font-size: 80px;
       font-weight: bold;

   }

   li {
       text-align: center;
       padding-left: 2%
   }

   #item1 {
       text-align: center;
   }

   .header {
       width: 100%;
       height: 100%;
       padding-top: 5%;
       padding-bottom: 5%;

   }


   .nav-link{
       
       color: white;
   }
.navbar-toggler-icon
{
    
    background-color: white;
}



  

   .about {
       height: auto;
       width: auto;
       padding: 1%;
       margin: 5%;
       background-color:DarkCyan;
       color:#fff;
       opacity: 0.7;
           box-shadow: 2px 10px 10px black;
           font-size: 20px;

   }

   #admove {
       text-align: center;
   }

   .indro-me {
       padding-left: 4%;
       padding-right: 4%;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-size: large;
       font-style: italic;
   }

   .log-eamvey {
       float: left;
   }

   .agin {
       
       padding-left: 5%;
   }
.card{
    color:black;
}
   .sizeimag {
       width: 60px;
       height: 60px;
       margin-left: 5%;
   }

   #align01 {
       padding-left: 50%;
   }

   .tech {
       margin: 1%;
   }

   .project {
       display: inline-block;
       padding: 10px;
   }
   #footer
   {
       display: block;
       width: 100%;
       height:150px;
      background-color:DarkCyan;
      opacity: 0.7;
   }
   .s{
       margin: 1%;
       padding:1%;
   }
   @media screen and (max-width: 1024px) {
 
    
   
}
@media screen and (max-width: 400px) {
   
}